@import "../global";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap Overrides
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'pages/dashboard';

#tweets {
    height: 730px;
    overflow-y: scroll
}

#register-form, #login-form, #update-user-form, #change-password-form {
    .invalid-feedback {
        display: block;
    }
}

#footer {
    height: 100px;
}
.pagination{
    justify-content: center
}
